<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="info.css">
</head>
<body>
<div class="logo__info">
    <div class="text-title">Лагерь Артек</div>
    <div class="space"></div>
    <div class="text-grey">Основан: <span class="text-active">1984</span></div>
    <div class="text-grey">Расположение: <span class="text-active">Крым</span></div>
    <div class="text-grey">Всего детей в лагере: <span class="text-active">20000</span></div>
</div>
</body>
</html>