<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="shift.css">
</head>
<body>
<div class="shift">
    <div class="shift__number">1</div>
    <div class="shift__info">
        <div class="text-subtitle">Основы коммунизма</div>
        <div>Проходит: 20.07 - 28.09</div>
        <div class="space"></div>
        <div>В течении смены все будут очень рады поспать видимо, потому что очень уж хочется но я
            доделаю этот компонент
        </div>
    </div>
</div>

<div class="shift shift-active">
    <div class="shift__number">1</div>
    <div class="shift__info">
        <div class="text-subtitle">Основы коммунизма</div>
        <div>Проходит: 20.07 - 28.09</div>
        <div class="space"></div>
        <div>В течении смены все будут очень рады поспать видимо, потому что очень уж хочется но я
            доделаю этот компонент
        </div>
    </div>
    <div class="shift__note">Смена вашего ребенка</div>
</div>
</body>
</html>