<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="./navbar.css">
</head>
<body>
<nav class="navbar order-1 fixed-top navbar-expand-lg navbar-light bg-passive text-uppercase shadow-sm ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100">
        <ul class="navbar-nav mx-auto order-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Дети </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Лагерь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Отряд</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Проживание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse order-2 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user-alt text-active"></i></a>
            </li>
        </ul>
    </div>
</nav>
<script src="https://kit.fontawesome.com/0bb5ac645f.js" crossorigin="anonymous"></script>
</body>
</html>