<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="person.css">
</head>
<body>
<div class="container">
    <div class="person">
        <div class="person__image circle-image">
            <img class="circle-image" alt="{}" src="../../images/me.jpg">
        </div>
        <div class="person__info">
            <div class="text-title">Сбор меда</div>
            <div>начало в 10.00</div>
        </div>
        <div class="person__desc">
            Дети собирают мед с пчеловодами
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/0bb5ac645f.js" crossorigin="anonymous"></script>
</body>
</html>