<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="schedule-item.css">
</head>
<body>
<div class="container">
    <div class="schedule-item">
        <div class="schedule-item__time">08.00 - 09.00</div>
        <div class="schedule-item__info">Зарядка</div>
    </div>
    <div class="schedule-item">
        <div class="schedule-item__time">08.00 - 09.00</div>
        <div class="schedule-item__info">Зарядка</div>
    </div>
    <div class="schedule-item schedule-item-active">
        <div class="schedule-item__time">08.00 - 09.00</div>
        <div class="schedule-item__info">Зарядка</div>
    </div>
    <div class="schedule-item schedule-item-future">
        <div class="schedule-item__time">08.00 - 09.00</div>
        <div class="schedule-item__info">Зарядка</div>
    </div>
</div>
</body>
</html>