<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="video.css">
</head>
<body>
<div class="container">
    <div class="video">
        <div class="video__image circle-image">
            <i class="far fa-play-circle"></i>
            <div class="video__image-overlay circle-image"></div>
            <img class="circle-image" alt="{}" src="../../images/me.jpg">
        </div>
            <div class="video__info">
                <div class="text-title">Сбор меда</div>
                <div>начало в 10.00</div>
            </div>
            <div class="video__desc">
                Дети собирают мед с пчеловодами
            </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/0bb5ac645f.js" crossorigin="anonymous"></script>
</body>
</html>