<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="./status.css">
</head>
<body>
<div class="status container">
    <img alt="{}" class="status__image" src="../../images/me.jpg">
    <div class="text-title">Артем Бакулев</div>
    <div class="text-gray">Ел: <span class="text-active">2 часа назад</span></div>
    <div class="text-gray">Спал: <span class="text-active">4 часа назад</span></div>
    <div class="text-gray">Статус: <span class="text-active">здоров</span></div>
    <div class="space"></div>
    <div class="text-gray">Сейчас по <a href="#">расписанию</a>:</div>
    <div class="text-active line">Театральная постановка <i class="fas fa-broadcast-tower text-active" data-container="body" data-toggle="popover" data-placement="bottom"
                                                       data-content="посмотреть трансляцию"></i></div>

</div>
<script src="https://kit.fontawesome.com/0bb5ac645f.js" crossorigin="anonymous"></script>
<script src="../../third-party/jquery.min.js" type="text/javascript"></script>
<script src="../../third-party/popper.min.js" type="text/javascript"></script>
<script src="../../third-party/bootstrap.min.js" type="text/javascript"></script>
<script src="../../third-party/popovers.js" type="text/javascript"></script>
</body>
</html>