<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="menu.css">
</head>
<body>
<div class="menu">
    <div class="menu__item menu__item_active">Описание</div>
    <div class="menu__item">Вожатые</div>
    <div class="menu__item">Галерея</div>
    <div class="menu__item-sub menu__item-sub_active">Фотографии</div>
    <div class="menu__item-sub">Видео</div>
    <div class="menu__item">Достижения</div>
</div>
</body>
</html>